/* =Menu
----------------------------------------------- */

#primarynav {
	float: none;
}
#togglebutt {
	clear: both;
}

/* MEDIA QUERIES FOR DISPLAYS +45em (720px) */
/* why use ems for media queries? http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/ */
@media ( min-width : 45em ) {
	#primarynav {
		background: #f6f6f6;
		position: relative;
		left: 0;
		clear: both;
		display: block;
		float: left;
		width: 100%;
	}
	#primarynav ul {
		position: relative;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	#primarynav li {
		float: left;
		position: relative;
	}
	#primarynav a {
		display: block;
		text-decoration: none;
		padding: 0.5em 1em;
	}
	#primarynav ul ul {
		-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
		box-shadow: 0 3px 3px rgba(0,0,0,0.2);
		display: none;
		float: left;
		position: absolute;
			top: 2.5em; /* change this if you change top level menu height */
			left: 0;
		z-index: 99999;
	}
	#primarynav ul ul ul {
		left: 100%;
		top: 0;
	}
	#primarynav ul ul a {
		background: #ebebeb;
		width: 12.5em;
	}
	#primarynav ul ul li {
	}
	#primarynav li:hover > a {
	}
	#primarynav ul ul :hover > a {
	}
	#primarynav ul ul a:hover {
	}
	#primarynav ul li:hover > ul {
		display: block;
	}
	#primarynav li.current_page_item a,
	#primarynav li.current-menu-item a {
	}
	
	/* mobile menu stuff */
	#togglebutt {
		display: none;
	}
	 
}